.card {
  list-style-type: none;
  background-color: #fff;
  color: #000;
  width: 282px;
  border-radius: 3%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.card__image {
  width: 282px;
  height: 282px;
  border-top-left-radius: 3%;
  border-top-right-radius: 3%;
}

.card__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 900;
  line-height: 29px;
  padding: 25px 20px;
}

.card__label-title {
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 219px;
}

.card__like-button {
  background: url(../images/heart.svg) center no-repeat;
  background: transparent center no-repeat;
  width: 21px;
  height: 18px;
  border-style: none;
  cursor: pointer;
}

.card__liked-heart {
  background: url(../images/Heart-Fill.svg) center no-repeat;
}

.card__like-button:hover {
  opacity: 50%;
}

.card__delete-button {
  background: transparent center no-repeat;
  background-image: url(../images/Trash.svg);
  width: 18px;
  height: 19px;
  position: absolute;
  top: 20px;
  right: 15px;
  border-style: none;
  cursor: pointer;
}

.card__delete-button:hover {
  opacity: 60%;
}

.modal__big-picture-modal {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  padding-right: 19px;
  padding-left: 19px;
  visibility: hidden;
  opacity: 0%;
  position: fixed;
  top: 40px;
  left: 20px;
  bottom: 0;
  right: 40px;
  transition: opacity linear 0.3s 0.2s;
  justify-content: center;
  align-items: center;
}

.big-picture-img {
  max-width: 75vh;
  max-height: 75vh;
}

.modal__big-picture__container {
  display: flex;
  flex: 0 1 25%;
}
.modal__big-picture__footer {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  position: absolute;
  margin: 0;
  color: #fff;
  bottom: 300px;
  left: 577px;
}

@media screen and (max-width: 320px) {
  .cards {
    margin-top: 0;
  }
}
