.header {
  padding-top: 45px;
  padding-bottom: 45px;
  display: grid;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  box-sizing: border-box;
  justify-content: left;
}

@media screen and (max-width: 880px) {
  .header {
    padding: 45px;
  }
  .header__image {
    width: 126px;
    height: 24px;
    padding-bottom: 32px;
    padding-left: 27px;
    padding-top: 28px;
  }
}

@media screen and (max-width: 580px) {
  .header {
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .header {
    padding: 0;
    width: 320px;
    margin-left: -20px;
  }
}
