.modal {
  color: black;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  visibility: none;
  opacity: 0;
  pointer-events: none;
  transition: visibility 0s 0.5s, opacity 0.5s linear;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0 19px;
  justify-content: center;
  align-items: center;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
  transition: visibility 0s, opacity 0.5s linear;
}

.modal__container {
  background-color: #fff;
  border-radius: 10px;
  padding: 36px;
  position: relative;
  width: 430px;
  height: 330px;
  display: flex;
  flex-direction: column;
}

.modal__big_picture_modal {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  padding-right: 19px;
  padding-left: 19px;
  visibility: hidden;
  opacity: 0%;
  position: fixed;
  top: 40px;
  left: 20px;
  bottom: 0;
  right: 40px;
  transition: opacity linear 0.3s 0.2s;
  justify-content: center;
  align-items: center;
}

.modal__close {
  background-image: url("../images/close.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  border: none;
  position: absolute;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  width: 28px;
  height: 28px;
  padding: 0;
  cursor: pointer;
  transition: opacity linear 0.3s 0.2s;
}

.modal__image_container {
  display: flex;
  flex: 0 1 25%;
  flex-direction: column;
  position: relative;
}

.modal__image_footer {
  position: absolute;
  margin: 0;
  top: calc(100% + 15px);
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
}

.modal__close:hover {
  opacity: 60%;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__heading {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0 0 40px 0;
}
.modal__form-description {
  margin-top: 30px;
}

.modal__input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  padding: 13px 0;
  margin: 17px 0;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
}

.modal__button {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  height: 50px;
  width: 100%;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 2px;
  margin-top: 15px;
  cursor: pointer;
}

.modal__button:hover {
  opacity: 0.8;
  transition: opacity 0.5s ease;
  cursor: default;
}

.modal__button_disabled {
  background-color: transparent;
  color: #5e5e5e;
  border: 1px solid #5e5e5e;
}

.modal__button_disabled:hover {
  opacity: 1;
  cursor: default;
}

.modal__error {
  font-size: 12px;
  line-height: 15px;
  color: #ff0000;
  transition: opacity 0.3s;
  height: 1em;
}

.modal__input_type_error {
  border-bottom: 1px solid #ff0000;
}

.big-picture-img {
  border-style: none;
  max-width: 75vw;
  max-height: 75vh;
}

#big-picture-modal__close {
  position: relative;
}

@media screen and (max-width: 625px) {
  .modal__container {
    width: 282px;
    height: 322px;
    padding: 25px 22px;
  }

  .modal__close {
    bottom: calc(100% + 20px);
    left: calc(100% - 20px);
    width: 18px;
    height: 18px;
  }

  .modal__heading {
    font-size: 18px;
    line-height: 22px;
    margin: 0 0 45px 0;
  }

  .modal__button {
    margin-top: 45px;
    height: 46px;
  }
}
